@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

.home-container {
  display: flex;
  margin: 0;
  overflow: hidden;
  padding-block-start: 8rem;
  padding-block-end: 2rem;
  @include u.breakpoint-up(small) {
    margin-left: 200px;
  }
}

.hero {
  --max-width: 1440px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 0));
  margin-inline: auto;

  display: grid;
  place-items: center;
  gap: u.rem(16);

  @include u.breakpoint-up(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
.hero-img {
  max-width: 539px;
  max-height: 632px;
}
.halfcolor {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    #ffff00 50%,
    #ffff00 100%
  );
}
.hero-info {
  max-width: 75ch;
  h1 {
    font-weight: 700;
  }
}
.btn {
  display: inline-flex;
  border: 0;
  padding: u.rem(16) u.rem(22);
  text-decoration: none;
  border: 2px solid hsl(var(--black));
  border-radius: 100vmax;
  margin-top: u.rem(16);
  font-size: u.rem(16);
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: transform 250ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: hsl(var(--black));
}
.btn:hover {
  transform: translateY(-3px);
  //transform: scale(1.1);
}
.btn:focus {
  outline: none;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}
