@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

.nav-wrapper {
  background-color: hsl(var(--white));
  border-bottom: 1px solid hsl(var(--black) / 0.1);
  border-right: 0;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;

  @include u.breakpoint-up(small) {
    height: 100%;
    width: 200px;
    border-bottom: 0;
    border-right: 1px solid hsl(var(--black) / 0.1);
  }
  a {
    align-self: baseline;
    @include u.breakpoint-up(small) {
      align-self: initial;
    }
  }
}

.nav-primary {
  width: 100vw;
  position: relative;
  background-color: hsl(var(--white));
  border-bottom: 1px solid hsl(var(--black) / 0.1);
}
.links-wrapper {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  position: absolute;
  background-color: hsl(var(--white));
  width: 100%;
  left: 0;
  top: 104px;
  z-index: -9;
  transition: 0.5s;
  border-top: 1px solid hsl(var(--black) / 0.1);
  @include u.breakpoint-up(small) {
    flex-direction: column;
    align-self: initial;
    top: 116px;
    border-top: 0;
  }
}
.expanded {
  top: -100%;
}
.hamburger {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
a.nav-link-active {
  color: hsl(var(--black));
  font-weight: 700;
}
.nav-link {
  text-decoration: none;
  padding-block: u.rem(10);
  padding-inline: u.rem(16);
  font-size: u.rem(16);
  color: hsl(var(--black) / 0.7);
  border-bottom: 0;
}
.links-wrapper a {
  border-bottom: 0;
  @include u.breakpoint-up(small) {
    border-bottom: 1px solid hsl(var(--black) / 0.1);
  }
}
.logo {
  background-color: hsl(var(--white));
  width: 200px;
  font-size: u.rem(28);
  color: hsl(var(--black));
  font-weight: 200;
  border-bottom: 0;
  display: flex;
  flex-direction: column;

  @include u.breakpoint-up(small) {
    font-size: u.rem(32);
    border-right: 1px solid hsl(var(--black) / 0.1);
  }
}
.logo-bold {
  color: hsl(var(--black));
  font-size: u.rem(28);
  font-weight: 700;
  @include u.breakpoint-up(small) {
    font-size: u.rem(32);
  }
}
/**
 * HammBurger menu
 */
label {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

label .hamburger-item {
  background: hsl(var(--black));
  border-radius: 10px;
  height: 4px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger-item{
  &:nth-of-type(1) {
    width: 50%;
  }
  &:nth-of-type(2) {
    width: 100%;
  }
  &:nth-of-type(3) {
    width: 75%;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span {
  &:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(2px, -1px);
  }
  &:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg)
  }
  &:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(13px, -3px) rotatez(45deg);
  }
}

