@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

.singlepost-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  @include u.breakpoint-up(small) {
    margin-left: 200px;
  }
}
.singlepost-aside {
  padding-block: 2rem;
}
.singlepost-container {
  // border: 1px solid hsl(var(--black) / 0.1);
  // border-radius: 1rem;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.singlepost-container-image {
  border-radius: 1rem;
  // border-top-left-radius: 1rem;
  // border-top-right-radius: 1rem;
}
.singlepost-subhead {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  gap: 1rem;
  align-items: center;
  padding-inline: 1rem;
  margin-top: 5px;
  background-color: hsl(var(--white));
}

.author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.singlepost-title {
  display: flex;
  font-size: u.rem(40);
  font-weight: 700;
  max-width: 25ch;
  padding-block: 1rem;
}
.singlepost-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: u.rem(16);
}
.singlepost-tags {
  padding-bottom: u.rem(16);
  font-size: u.rem(18);
  font-weight: 500;
  color: hsl(var(--black) / 0.7);
  text-transform: capitalize;
}
.author-name {
  font-size: u.rem(17);
}
.singlepost-date {
  font-size: u.rem(16);
  color: hsl(var(--black) / 0.7);
}

// .singlepost-blockcontent{
//   border: 4px solid rgb(213, 227, 9);
// }
